<h1>Main#test</h1>
<%= form_with url: "/main/test_post", method: "post", data:{turbo: false} do|form| %>
<%= hidden_field_tag(:time,@time) %>
<% idx = 0%>
 
<% @time.to_i.times{ |i| %>
    <label for="subject[name]"> subject <%= i+1 %> </label>
    <input type="text" name="subject[name][]" value="" required>
    
    <label for="subject[score]"> score <%= i+1 %> </label>
    <input type="number" name="subject[score][]" value="" required>

    
    <br>
<% }%>
<%= form.submit %>
    
<% end %>

